<p>Hey {{name}},</p>
<p>We have completed processed your course "{{title}}"</p>
<p>
  <a href='{{url}}'>You can view it here</a>
</p>

<p>Thank you for choosing our platform to share your knowledge !</p>